body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: #393939;
  color: white;
}

#root {
  height: 100%;
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  height: 100%;
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0c466d;
  color: white;
}

.top-bar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.top-bar button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: 2px solid white;
}

.loader {
  position: absolute;
  border-radius: 10px;
  height: 2px;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 0;
  animation: borealisBar 500ms linear infinite;
}

@keyframes borealisBar {
    0% {
      left:0%;
      right:100%;
      width:0%;
    }
    10% {
      left:0%;
      right:75%;
      width:25%;
    }
    90% {
      right:0%;
      left:75%;
      width:25%;
    }
    100% {
      left:100%;
      right:0%;
      width:0%;
    }
  }

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #393939;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.modal-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    cursor: pointer;
    color: #fff;
    margin-top: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

.pokemon {
  color: #393939;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  margin: 20px;
  background-color: white;
  width: 200px;
}

.pokemon-card .image {
  width: 100px;
  height: 100px;
}

.pokemon-card h3 {
  margin: 10px 0;
}

.pokemon-card .abilities {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.pokemon-card .ability {
  padding: 5px 10px;
  list-style: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
}
